.slotIcon {
    background-image: url('assets/sloticons.png');
    background-size: 300% 300%;
}

.icon0 {
    background-position: 3% 3%;
}

.icon1 {
    background-position: 34% 3%;
}

.icon2 {
    background-position: 65% 3%;
}

.icon3 {
    background-position: 96% 3%;
}

.icon4 {
    background-position: 3% 49%;
}

.icon5 {
    background-position: 34% 49%;
}

.icon6 {
    background-position: 65% 49%;
}

.icon7 {
    background-position: 96% 49%;
}

.icon8 {
    background-position: 3% 95%;
}

.icon9 {
    background-position: 34% 95%;
}

.icon10 {
    background-position: 65% 95%;
}

.icon11 {
    background-position: 96% 95%;
}
