body {
    background-image: url('assets/imgs/bg1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body.panel {
    background-image: url('assets/imgs/panel.jpg');
    background-size: 100% 100%;
}

.slotIcon {
    height:100%;
    width:auto;
    background: center;
    background-repeat: no-repeat;
    background-color:rgba(50,150,0,0.4);
}

.icon0 {
    background-image: url('assets/imgs/slot0.png');

}

.icon1 {
    background-image: url('assets/imgs/slot1.png');
}

.icon2 {
    background-image: url('assets/imgs/slot2.png');
}

.icon3 {
    background-image: url('assets/imgs/slot3.png');
}

.icon4 {
    background-image: url('assets/imgs/slot4.png');
}

.icon5 {
    background-image: url('assets/imgs/slot5.png');
}

.icon6 {
    background-image: url('assets/imgs/slot6.png');
}

.icon7 {
    background-image: url('assets/imgs/slot7.png');
}

.icon8 {
    background-image: url('assets/imgs/slot8.png');
}

.icon9 {
    background-image: url('assets/imgs/slot9.png');
}

.icon10 {
    background-image: url('assets/imgs/slot10.png');
}

.icon11 {
    background-image: url('assets/imgs/slot11.png');
}

.good {
    -webkit-box-shadow:0 0 20px #fff;
    -moz-box-shadow: 0 0 20px #fff;
    box-shadow:0 0 20px #fff;
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
}

.bad {
    -webkit-box-shadow:0 0 20px red;
    -moz-box-shadow: 0 0 20px red;
    box-shadow:0 0 20px red;
    -webkit-filter: sepia(1);
    filter: sepia(1);
}